<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hidroponia</title>
    <link rel="stylesheet" href="style/main.css">
</head>
<body>
    <nav></nav>
    <main>
        <div id="container">
            <h1>BEM VINDO(a)!</h1>
            <span>Aqui você pode realizar o calculo de correção <br/>da solução nutritiva do seu sistema.
            </span>
        </div>
        <a href="index.html">CALCULAR</a>
        <div id="hidro">
            <img width="300px" src="img/hidro.jpg" alt="Hidroponia">
        </div>
    </main>
    <footer>
        <p id="copy">©Todos os direitos reservados a Airan santos.</p>
    </footer>
    
</body>
</html>