#contatos{
    display: flex;
    height: calc(100vh - 100px);
    max-width:100%;
    justify-content: center;
    flex-direction: column;
}

.contacts-main{
    display: flex;
    width:450px;
    flex-direction: column;
    align-self: center;
}
#me-container{
    max-width: 100%;
    display: flex;
    align-self: center;
    flex-direction: column;
}
.contacts-container{
    padding: 0 2rem 2rem 2rem;
    display: flex;
    width: 450px;
    align-self: center;
    flex-direction: column;
    border-bottom: 4px solid rgb(33, 125, 211);
    border-left: 4px solid rgb(33, 125, 211);
    border-right: 4px solid rgb(33, 125, 211);
    border-radius: 15px;

}
.contacts-container h2{
    font-style: italic;
}
#me-cont{
    border: 4px solid rgb(33, 125, 211);
    max-width: 300px;
    margin: 0 0 1rem 0;
    border-radius: 50%;
}
#me-links{
    gap: 1rem;
    margin: 0;
    display: flex;
    align-self: self-end;
    margin-bottom: 1rem;
}
#me-links a{
    text-decoration: none;
    opacity: 1;
    transition: 0.3s;
}
#me-links a:hover{
    opacity: 0.7;
}

.email{
    align-items: center;
    display: flex;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    margin-top: 1rem;
}

.email:hover{
    color: gray;
}
.tel{
    margin-top: 5px;
    display: flex;
    color: #fff;
    align-items: center;
    transition: 0.3s;
    text-decoration: none;
}
#what{
    color: green;
}
.tel:hover{
    color: gray;
}
#what, #emi{
    margin-right: 10px;
    font-size:xx-large;
}
#curruculo{
    margin-top: 2rem;
    text-align: center;
}
#curr{
    text-decoration: none;
    font-style: italic;
    color: #fff;
    font-size: larger;
    font-weight: bold;
    transition: 0.3s;
}
#curr:hover{
    color: gray;
}

@media(max-width: 450px){
    .contacts-container{
        width: 100%;
    }
    .contacts-main{
        width: 100%;
    }
}

