main{
    margin-top: 2rem;
    height: calc(100vh - 120px);
    padding: 0;
    display: flex;
    justify-content: center;
}
.meContainer{
    display: flex;
    max-width: 400px;
    flex-direction: column;
    
}
.meContact{
    margin: 0;
    display: flex;
    justify-content: center;
}
.meContact a{
    margin: 0 15px;
    opacity: 1;
    transition: 0.3s;
}
.meContact a:hover{
    opacity: 0.7;
}
.me{
    max-width: 200px;
    border: 4px solid rgb(33, 125, 211);
    border-radius: 50%;
    justify-content: center;
    margin: 0;
}
#meHtml{
    border: 4px solid rgb(212, 91, 10);
}
#meCss{
    border: 4px solid rgb(51, 144, 231);
}
#meJs{
    border: 4px solid rgb(213, 228, 13);
}
#meReact{
    border: 4px solid rgb(118, 185, 224);
}
#meGit{
    border: 4px solid rgb(231, 79, 52);
}
.skills{
    display: flex;
    justify-content: center;
    height: 55px;
}
.skills p{
    font-style: italic;
    font-weight: bold;
    font-size: x-large;
    display: flex;
    padding: 1rem 0.5rem;
    border-right: 1px solid #333;
    align-items: center;
}
.skills img{
    margin: 5px 9px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    opacity: 1;
    transition: 0.3s;
    cursor: pointer;
}
.skills img:hover{
    opacity: 0.7;
}

.resum{
    margin: 0 0 2rem 0;
}
.resum h1{
    font-style: italic;
}
.meu-nome{
    font-size: larger;
}
#texto{
    padding: 0.5rem;
    margin: 1rem 0;
    display: flex;
    text-align: justify;
    justify-content: center;
}
.spanInfoHtml{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 15px;
    border-left: 4px solid rgb(212, 91, 10);
    border-right: 4px solid rgb(212, 91, 10);
    border-bottom: 4px solid rgb(212, 91, 10);
}
.spanInfoCss{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 15px;
    border-left: 4px solid rgb(51, 144, 231);
    border-right: 4px solid rgb(51, 144, 231);
    border-bottom: 4px solid rgb(51, 144, 231);
}
.spanInfoJs{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 15px;
    border-left: 4px solid rgb(213, 228, 13);
    border-right: 4px solid rgb(213, 228, 13);
    border-bottom: 4px solid rgb(213, 228, 13);
}
.spanInfoReact{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 15px;
    border-left: 4px solid rgb(118, 185, 224);
    border-right: 4px solid rgb(118, 185, 224);
    border-bottom: 4px solid rgb(118, 185, 224);
}
.spanInfoGit{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 15px;
    border-left: 4px solid rgb(231, 79, 52);
    border-right: 4px solid rgb(231, 79, 52);
    border-bottom: 4px solid rgb(231, 79, 52);
}
.spanBtn{
    display: none;
    align-self: flex-end;
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.8;
}
.spanBtn:hover{
    opacity: 1;
}

#hideBtn{
    display: none;
}

#spanBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.s{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 15px;
    border-left: 4px solid rgb(33, 125, 211);
    border-right: 4px solid rgb(33, 125, 211);
    border-bottom: 4px solid rgb(33, 125, 211);
}


@media(max-width: 400px){
    .meContainer{
        width: 100%;
    }
    .skills img{
        margin:0;
    }
    .skills p{
        font-size: large;
    }
}